body{
    overflow: hidden;
}
.hidden{
    display: none;
}

img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.contain{
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/****** Clock ******/
#clock{
    min-width: 1080px;
    color:white;
    font-size: 100px;
    font-family: Arial, sans-serif;
    text-shadow: 3px 3px 20px black;
    
}
/****** Login ******/
#login-form{
   margin-bottom: 20px;
}
#login-form button{
    margin-left: 20px;
    background: white;
    opacity: 40%;
    border: none;
    border-radius: 10px;
    width:80px;
    height: 35px;
    /* font */
    font-weight: 700;
    font-size: 15px;
}
#login-form button:hover{
    width:80px;
    height: 50px;
    background: white;
    opacity: 100%;
}
#login-form input{
   
    /* input-box */
    background: none;
    width:200px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
     /* font */
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#login-form input::placeholder{
    color:black;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    font-weight: 500;
  
}
#greeting{
    color:whitesmoke;
    font-size: 50px;
    margin-top: -40px;
    text-shadow: 3px 3px 20px black;
}
/****** List ******/

#todo-form input{
    position: flex;
    align-items: center;
    /* input-box */
    background: none;
    width:300px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    /* font */
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#todo-form input::placeholder{
    color:black;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    
}

#todo-list li{
    position: relative;
    left:20%;
    text-align: left !important;
    vertical-align: middle;
    list-style: none;
    
}
#todo-list li span{
    color:white;
    text-shadow: 3px 3px 8px black;
    font-weight:800 ;
}
#todo-list li button{
    background: none;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 3px;
    margin-right: 10px;
    padding:2px 10px;
    border-color: gray;
    border-width: 3px;
    
}
/* weather */
#weather{
    position: relative;
    top:150px;
    right:500px;
    color:aliceblue;
    font-size: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   
}
#quote span{
    position: relative;
    top:110px;
    left:450px;
    color:aliceblue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#quote span:first-child{
    font-size: 20px;
  
}
#quote span:last-child{
    font-size: 15px;

}